.Onboarding {
	background-color: $gray-4;
	width: 66%;
	max-width: 50rem;
	height: 75%;
	max-height: 36rem;
	border-radius: $br-lg;
	padding: $pad-lg;

	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 1rem;
	z-index: 1;

	box-shadow: 0 0 1rem -0.25rem rgba(0, 0, 0, 0.1);

	@include mobile {
		width: 90%;
		display: initial;
		height: fit-content;
		// max-height: 70%;
		max-height: calc(100% - $screen-to-onboarding-on-mobile - 6.5rem);
		overflow: scroll;
		padding: 2rem 1.5rem;
		margin-top: $screen-to-onboarding-on-mobile;
	}
}
