// Colors
$primary-1: hsl(213, 96%, 18%);
$primary-2: hsl(243, 100%, 62%);
$primary-3: hsl(228, 100%, 84%);
$primary-4: hsl(206, 94%, 87%);
$danger: hsl(354, 84%, 57%);

//// Neutral Colors
$gray-1: hsl(231, 11%, 63%);
$gray-2: hsl(229, 24%, 87%);
$gray-3: hsl(217, 100%, 97%);
$gray-4: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);

// Font
$fs-body: 1rem;
$fs-heading: 1.5rem;

$fw-body: 400;
$fw-heading: 700;

// Breakpoints
$bp-mobile: 375px;
// $bp-desktop: 1440px;
